body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 500px;
  border: 2px solid black;
  justify-content: space-around;
  font-size: large;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* 
h1 {
  background-color: black;
  font-size: 3rem;
  text-align: center;
  display: flex;
  color: white;

} */

.todo {
  background-color: cornflowerblue;
  justify-content: flex-start;
  color: whitesmoke;
}
.todo-items {
  display: flex;
  padding: 10%;
  border: 1px solid ;
  
}